Django==1.7
MySQL-python==1.2.5
Pillow==2.5.3
argparse==1.2.1
arrow==0.4.4
correios-frete==1.0.0
django-admin-bootstrapped==2.0.3
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.1
django-extensions==1.4.0
django-inviter==0.2.4
django-reversion==1.8.4
django-tinymce==1.5.2
httplib2==0.8
oauth2==1.5.211
-e git+https://github.com/rochacbruno/python-pagseguro@6b7895848d0d7abf386b0bf34886abc17d0a295a#egg=pagseguro-master
python-dateutil==2.2
rauth==0.6.2
requests==1.2.3
shortuuid==0.4.2
six==1.8.0
sorl-thumbnail==11.12.1b
sqlparse==0.1.12
suds==0.4
wsgiref==0.1.2
xmltodict==0.9.0
