<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

{{ request.user }} <br />
<ul>
	<li><a href="{% url 'offer:home' %}">Home</a></li>
	{% if request.user.is_authenticated %}
		<li><a href="{% url 'offer:user:my_coupons' %}">Meus Cupons</a></li>
		<li><a href="{% url 'offer:user:my_orders' %}">Minhas Compras</a></li>
		<li><a href="{% url 'offer:user:my_operations' %}">Meus Créditos</a></li>
		<li><a href="{% url 'offer:user:change_user' %}">Editar Dados</a></li>
		<li><a href="{% url 'account:logout' %}">Logout</a></li>
	{% else %}
		<li><a href="{% url 'account:login' %}">Login</a></li>
	{% endif %}
	
</ul>

{% block content %}

{% endblock content %}
</body>
</html>