{% extends 'offer/base.html' %}

{% block content %}
	<!-- <a href=" url 'offer:buy_offer' option.id ">Comprar</a> -->

<section class="container internas">
		<header class="sixteen columns">
			<h2>{{ offer.title }}</h2>
		</header>

		<article class="eleven columns produto">
		{% for image in images %}
			<img src="{{ MEDIA_URL }}{{ image.name }}" alt="">
		{% endfor %}

			<figure>
			{% for image in images %}
				<img src="{{ MEDIA_URL }}{{ image.name }}" alt="" width="50px" height="50px">
			{% endfor %}
				
			</figure>	
		</article>

		<article class="comprar-produto five columns">
			<p class="de"><span class="riscado">R$ {{ first_option.old_price }}</span> <span class="por"> por</span></p>
			<p class="preco-destaque">R$ {{ first_option.new_price }}</p>
			<a href="{% url 'offer:buy_offer' first_option.id %}" class="btn-comprar">COMPRAR</a>

			<footer>Compre por telefone: 3388 1414</footer>
		</article>
		<!-- fim do box de comprar -->

		<article class="info-produto">
			<div class="five columns alpha omega">
			{% if partner.logo %}
				<figure>
					<img src="{{ MEDIA_URL }}{{ partner.logo }}" width="71" height="71" alt="">
				</figure>
			{% endif %}
				<figcaption>
					<a href="#">{{ partner.name }}</a>
					<p>{{ offer.city.name }}</p>
				</figcaption>
			</div>

			<ul class="seven columns">
				<li>
					<img src="{{ STATIC_URL }}img/Ícone-OFF-Cinza-.png" alt="">
					<span>{{ first_option.discount }}% OFF</span></li>
				<li>
					<img src="{{ STATIC_URL }}img/Ícone_Compraram-Cinza.png" alt="">
					<span>{{ offer.bought_total }} Compr{{ offer.bought_total|pluralize:"ou,aram" }}</span>
				</li>

				<li>
					<img src="{{ STATIC_URL }}img/Dinheiro-de-Volta.png" alt="">
					<span>{{ offer.percent_cashback }}% de volta</span>
				</li>

				<li>
					<img src="{{ STATIC_URL }}img/Ícone-Relógio-Cinza.png" alt="">
					<span>{{ first_option.time_remaining }}</span>
				</li>

			</ul>

			<div class="four columns omega alpha redes-info">
				

				<!-- Go to www.addthis.com/dashboard to customize your tools -->
				<script type="text/javascript" src="{{ STATIC_URL }}//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f5e657f63b4c7e2"></script>
				<!-- Go to www.addthis.com/dashboard to customize your tools -->
				<div class="addthis_native_toolbox"></div>
			</div>
		</article>

		<article class="eight columns description">
			<div class="bd">
				<h3>Resumo da Oferta</h3>
				
				{{ offer.description|safe }}
			</div>

			<div class="bd">
				<h3>A empresa</h3>
				
				{{ partner.about|safe }}
			</div>
		</article>

		<article class="eight columns description">
			<h3>Quando usar:</h3>
			
			{{ offer.when_to_use|safe }}

			<h3>Como usar:</h3>
			{{ offer.how_to_use|safe }}

			<h3>Bom saber:</h3>
			{{ offer.good_to_know|safe }}
		</article>

		<article class="description sixteen columns map-box">
			<h3>Localização</h3>

			<address>
				<p>Endereço: {{ first_option.filial.street|default:'' }}, {{ first_option.filial.number_home|default:'' }} - CEP: {{ first_option.filial.cep|default:'' }} - {{ first_option.filial.complement|default:'' }} - {{ first_option.filial.neighborhood|default:'' }} - {{ first_option.filial.city.state.acronym|default:'' }}</p>
			</address>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.832892413855!2d-34.847331400000016!3d-8.016162099999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab22ba35e72209%3A0xe223c0d7faeb8fda!2sR.+do+Sol%2C+100+-+Carmo%2C+Olinda+-+PE!5e0!3m2!1spt-BR!2sbr!4v1412622830499" class="map" frameborder="0" style="border:0"></iframe>
		</article>

		{% if other_options %}
		<article class="outras">
			<h3>Outras opções</h3>

			{% for option in other_options %}
				<div class="eleven columns alpha omega">
					<p class="title-outras">{{ option.title }}</p>
					<span>{{ option.subtitle }}</span>
				</div>
			<div class="five columns alpha omega">
				<p class="de"><span class="riscado">R$ {{ option.old_price }}</span></p>
				<span>R$ {{ option.new_price }}</span>
				<a href="{% url 'offer:buy_offer' option.id %}">Comprar</a>
			</div>

			{% endfor %}
			
		</article>
		<!-- END OUTRAS -->

		<a href="#" class="ver-mais">Ver mais detalhes</a>
		{% endif %}
	</section>

	<div class="container">
		<section class="box-content sixteen columns relacionados carrosel">
			<header>
				<h3>Relacionados</h3>
				<button class="prev"></button>
				<button class="next"></button>
				<a href="#" class="ver-carrosel">Ver todos</a>
			</header>
			
			<div>

			{% for related in related_offers %}
				<article>
					
						<figure>
							<a href="{% url 'offer:offer_detail' related.slug %}"><img src="{{ MEDIA_URL }}{{ related.image_grid }}" alt=""></a>
							<figcaption>
								
								<a href="{% url 'offer:offer_detail' related.slug %}"><div class="desconto">{{ related.first_option.discount }}% OFF</div></a>
								<a href="{% url 'offer:offer_detail' related.slug %}"><div class="compras">{{ related.bought_total }} compraram</div></a>
								<a href="{% url 'offer:offer_detail' related.slug %}"><div class="volta">{{ related.percent_cashback }}% de volta</div></a>
								<a href="{% url 'offer:offer_detail' related.slug %}"><div class="dias">{{ related.first_option.time_remaining }}</div></a>
							</figcaption>
						</figure>
					<header>
						<h4>{{ related.title }}</h4>
						<a href="#"><h5>{{ related.partner.name }}</h5></a>
						<a href="#"><span class="localidade-box">{{ related.city.name }}</span></a>

						<p class="riscado">De R$:{{ related.first_option.old_price }}</p>
						<p class="color-destaque">Por R$ {{ related.first_option.new_price }}</p>
					</header>
				</article>
				<!-- END OFERTA -->
				{% endfor %}
			</div>
		</section>
		<!-- END BOX -->
	</div>


{% endblock content %}