{% extends 'offer/base.html' %}

{% block content %}
	<!-- <a href=" url 'offer:buy_offer' option.id ">Comprar</a> -->

<section id="comprar-modal">
	<div class="bg-modal"></div>
	
	<div class="box-modal-compra">
		<div class="geral-info">
			<div>
				<p>Duas Diárias para casal</p>
				<p>Hospedagem + Café da manhã</p>
			</div>

			<div>
				<p class="price-modal">
					R$ 199,00
					<span>50% OFF</span>
				</p>

				<a href="" class="comprar-modal-box">Comprar</a>
			</div>
		</div>

		<div class="geral-info">
			<div>
				<p>Duas Diárias para casal</p>
				<p>Hospedagem + Café da manhã</p>
			</div>

			<div>
				<p class="price-modal">
					R$ 199,00
					<span>50% OFF</span>
				</p>

				<a href="" class="comprar-modal-box">Comprar</a>
			</div>
		</div>

		<div class="geral-info">
			<div>
				<p>Duas Diárias para casal</p>
				<p>Hospedagem + Café da manhã</p>
			</div>

			<div>
				<p class="price-modal">
					R$ 199,00
					<span>50% OFF</span>
				</p>

				<a href="" class="comprar-modal-box">Comprar</a>
			</div>
		</div>
	</div>
</section>

<section class="container internas">
		<header class="sixteen columns">
			<h2>{{ offer.title }}</h2>
		</header>

		<article class="eleven columns produto">

			<figure><!-- 
			{% for image in images %}
				<img src="{{ MEDIA_URL }}{{ image.name }}" alt="" width="50px" height="50px">
			{% endfor %} -->
			</figure>	
			
			{% for image in images %}
				<img src="{{ MEDIA_URL }}{{ image.name }}" alt="">
			{% endfor %}

		</article>

		<article class="comprar-produto five columns">
			<p class="de"><span class="riscado">R$ {{ first_option.old_price }}</span> <span class="por"> por</span></p>
			<p class="preco-destaque">R$ {{ first_option.new_price }}</p>
			<a href="{% url 'offer:buy_offer' first_option.id %}" class="btn-comprar">COMPRAR</a>

			<footer>Compre por telefone: 3388 1414</footer>
		</article>
		<!-- fim do box de comprar -->

		<article class="info-produto">
			<div class="five columns alpha omega">
			{% if partner.logo %}
				<figure>
					<img src="{{ MEDIA_URL }}{{ partner.logo }}" width="71" height="71" alt="">
				</figure>
			{% endif %}
				<figcaption>
					<a href="#">{{ partner.name }}</a>
					<p>{{ offer.city.name }}</p>
				</figcaption>
			</div>

			<ul class="seven columns">
				<li>
					<img src="{{ STATIC_URL }}img/Ícone-OFF-Cinza-.png" alt="">
					<span>{{ first_option.discount }}% OFF</span></li>
				<li>
					<img src="{{ STATIC_URL }}img/Ícone_Compraram-Cinza.png" alt="">
					<span>{{ offer.bought_total }} Compr{{ offer.bought_total|pluralize:"ou,aram" }}</span>
				</li>

				<li>
					<img src="{{ STATIC_URL }}img/Dinheiro-de-Volta.png" alt="">
					<span>{{ offer.percent_cashback }}% de volta</span>
				</li>

				<li>
					<img src="{{ STATIC_URL }}img/Ícone-Relógio-Cinza.png" alt="">
					<span>{{ first_option.time_remaining }}</span>
				</li>

			</ul>

			<div class="four columns omega alpha redes-info">
				

				<!-- Go to www.addthis.com/dashboard to customize your tools -->
				<script type="text/javascript" src="{{ STATIC_URL }}//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f5e657f63b4c7e2"></script>
				<!-- Go to www.addthis.com/dashboard to customize your tools -->
				<div class="addthis_native_toolbox"></div>
			</div>
		</article>

		<div id="overflow-produto">
			<article class="eight columns description">
				<div class="bd">
					<h3>Resumo da Oferta</h3>
					
					{{ offer.description|safe }}
				</div>

				<div class="bd">
					<h3>A empresa</h3>
					
					{{ partner.about|safe }}
				</div>
			</article>

			<article class="eight columns description">
				<h3>Quando usar:</h3>
				
				{{ offer.when_to_use|safe }}

				<h3>Como usar:</h3>
				{{ offer.how_to_use|safe }}

				<h3>Bom saber:</h3>
				{{ offer.good_to_know|safe }}
			</article>

			<article class="description sixteen columns map-box">
				<h3>Localização</h3>

				<address>
					<p>Endereço: {{ first_option.filial.street|default:'' }}, {{ first_option.filial.number_home|default:'' }} - CEP: {{ first_option.filial.cep|default:'' }} - {{ first_option.filial.complement|default:'' }} - {{ first_option.filial.neighborhood|default:'' }} - {{ first_option.filial.city.state.acronym|default:'' }}</p>
				</address>
				
				<div class="map"></div>

				<script src="https://maps.googleapis.com/maps/api/js"></script>
				<script type="text/javascript">
				
				var cordenadas_var = [
  {
      lat: 40.6386333,
      lng: -8.745,
      nome: "Parque de Campismo Praia da Barra",
      morada1:"Rua Diogo Cão, 125",
      morada2: "Praia da Barra",
      codPostal: "3830-772 Gafanha da Nazaré" // não colocar virgula no último item de cada maracdor
   }
];
// Esta função vai percorrer a informação contida na variável cordenadas_var
// e cria os marcadores através da função criarMarcador
function marcadores(){

   // esta variável vai definir a área de mapa a abranger e o nível do zoom
   // de acordo com as posições dos marcadores
   var bounds = new google.maps.LatLngBounds();

   // Loop que vai percorrer a informação contida em cordenadas_var 
   // para que a função criarMarcador possa criar os marcadores 
   for (var i = 0; i < cordenadas_var.length; i++){

      var latlng = new google.maps.LatLng(cordenadas_var[i].lat, cordenadas_var[i].lng);
      var nome = cordenadas_var[i].nome;
      var morada1 = cordenadas_var[i].morada1;
      var morada2 = cordenadas_var[i].morada2;
      var codPostal = cordenadas_var[i].codPostal;

      criarMarcador(latlng, nome, morada1, morada2, codPostal);

      // Os valores de latitude e longitude do marcador são adicionados à
      // variável bounds
      bounds.extend(latlng); 
   }

   // Depois de criados todos os marcadores,
   // a API, através da sua função fitBounds, vai redefinir o nível do zoom
   // e consequentemente a área do mapa abrangida de acordo com
   // as posições dos marcadores
   map.fitBounds(bounds);
}
// Função que cria os marcadores e define o conteúdo de cada Info Window.
function criarMarcador(latlng, nome, morada1, morada2, codPostal){
   var marker = new google.maps.Marker({
      map: map,
      position: latlng,
      title: nome
   });

   // Evento que dá instrução à API para estar alerta ao click no marcador.
   // Define o conteúdo e abre a Info Window.
   google.maps.event.addListener(marker, 'click', function() {
      
      // Variável que define a estrutura do HTML a inserir na Info Window.
      var iwContent = '<div id="iw_container">' +
      '<div class="iw_title">' + nome + '</div>' +
      '<div class="iw_content">' + morada1 + '<br />' +
      morada2 + '<br />' +
      codPostal + '</div></div>';
      
      // O conteúdo da variável iwContent é inserido na Info Window.
      infoWindow.setContent(iwContent);

      // A Info Window é aberta com um click no marcador.
      infoWindow.open(map, marker);
   });
}

function iniciarMapa() {
   var mapOptions = {
      center: new google.maps.LatLng(40.601203,-8.668173),
      zoom: 1,
      mapTypeId: 'roadmap',
   };

   map = new google.maps.Map(document.querySelector(".map"), mapOptions);

   // Cria a nova Info Window com referência à variável infoWindow.
   // O conteúdo da Info Window é criado na função criarMarcador.
   infoWindow = new google.maps.InfoWindow();

   // Evento que fecha a infoWindow com click no mapa.
   google.maps.event.addListener(map, 'click', function() {
      infoWindow.close();
   });

   // Chamada para a função que vai percorrer a informação
   // contida na variável cordenadas_var e criar os marcadores a mostrar no mapa
   marcadores();
}
google.maps.event.addDomListener(window, 'load', iniciarMapa);
				</script>
			</article>

			{% if other_options %}
			<article class="outras">
				<h3>Outras opções</h3>

				{% for option in other_options %}
					<div class="eleven columns alpha omega">
						<p class="title-outras">{{ option.title }}</p>
						<span>{{ option.subtitle }}</span>
					</div>
				<div class="five columns alpha omega">
					<p class="de"><span class="riscado">R$ {{ option.old_price }}</span></p>
					<span>R$ {{ option.new_price }}</span>
					<a href="{% url 'offer:buy_offer' option.id %}">Comprar</a>
				</div>

				{% endfor %}
				
			</article>
			<!-- END OUTRAS -->
			{% endif %}
		</div>
		<a href="#" class="ver-mais">Ver mais detalhes</a>
	</section>

	<div class="container">
		<section class="box-content sixteen columns relacionados carrosel">
			<header>
				<h3>Relacionados</h3>
				<button class="prev"></button>
				<button class="next"></button>
				<a href="#" class="ver-carrosel">Ver todos</a>
			</header>
			
			<div>

			{% for related in related_offers %}
				<article>
					
						<figure>
							<a href="{% url 'offer:offer_detail' related.slug %}"><img src="{{ MEDIA_URL }}{{ related.image_grid }}" alt=""></a>
							<figcaption>
								
								<a href="{% url 'offer:offer_detail' related.slug %}"><div class="desconto">{{ related.first_option.discount }}% OFF</div></a>
								<a href="{% url 'offer:offer_detail' related.slug %}"><div class="compras">{{ related.bought_total }} compraram</div></a>
								<a href="{% url 'offer:offer_detail' related.slug %}"><div class="volta">{{ related.percent_cashback }}% de volta</div></a>
								<a href="{% url 'offer:offer_detail' related.slug %}"><div class="dias">{{ related.first_option.time_remaining }}</div></a>
							</figcaption>
						</figure>
					<header>
						<h4>{{ related.title }}</h4>
						<a href="#"><h5>{{ related.partner.name }}</h5></a>
						<a href="#"><span class="localidade-box">{{ related.city.name }}</span></a>

						<p class="riscado">De R$:{{ related.first_option.old_price }}</p>
						<p class="color-destaque">Por R$ {{ related.first_option.new_price }}</p>
					</header>
				</article>
				<!-- END OFERTA -->
				{% endfor %}
			</div>
		</section>
		<!-- END BOX -->
	</div>
<script type="text/javascript">
		document.querySelector(".ver-mais").addEventListener("click",function(e){
			e.preventDefault();

			this.previousElementSibling.style.maxHeight = "4000px";

			setTimeout(function(){
				arguments[0].style.display = "none";
			},1000,this);
		});
	</script>


{% endblock content %}