{% extends 'offer/base.html' %}

{% block content %}
{% for image in option.offer.images.all %}
	<img src="{{ MEDIA_URL }}{{ image.name }}">
{% endfor %}

<h3>{{ option.title }}</h3>
<p>R$ {{ option.new_price }}</p>

<form action="." method="POST">
{% csrf_token %}
{{ form.as_p }}
{{ form.errors }}
<!-- <table>
<tr>
	<td><label>Nome do titular</label></td>
	<td><input type="text" name="own_name"></td>
</tr>
<tr>
	<td><label>Número do cartão</label></td>
	<td><input type="text" name="card_number"></td>
</tr>
<tr>
	<td><label>Validade</label></td>
	<td><input type="text" name="expire_date"></td>
</tr>
<tr>
	<td><label>Código de segurança</label></td>
	<td><input type="text" name="security_code"></td>
</tr>
</table> -->
<input type="submit" value="Pagar com pagseguro">
</form>

{% endblock content %}