{% extends 'account/user/base_area_cliente.html' %}
{% load thumbnail %}

{% block interna %}

	<article class="twelve columns" id="info-content">
		<div class="dados-pessoais">
				{% include 'account/user/edit_header.html' %}

				<div class="box-info">
					<form action="." method="POST" enctype="multipart/form-data">
					{% csrf_token %}
						<div id="conta" class="active-dados">
							<div class="four columns">
								<p class="title-dados">Pessoais</p>

								<label for="primeiro-nome">Nome completo</label>
								<input type="text" name="full_name" id="primeiro-nome" class="bg-area-clara" value="{{form.full_name.value}}"  />

								<div class="double omega">
									<label for="data-nascimento">Data de Nasc.</label>
									<input type="text" name="birthday" class="bg-area-clara" id="data-nascimento" placeholder="00/00/0000" value="{{form.birthday.value|date:"d/m/Y"}}">
								</div>

								<div class="double">
									<label for="sexo">Sexo:</label>
									<select name="gender" id="sexo" class="bg-area-clara">
										<option {%if form.gender.value == "M"%}selected{%endif%} value="M">Masculino</option>
										<option {%if form.gender.value == "F"%}selected{%endif%} value="F">Feminino</option>
									</select>
								</div>
							</div>
							<!-- END FOUR -->

							<div class="four columns omega alpha">
								<p class="title-dados centered">Foto</p>
								<figure class="foto">
									<img src="{{ MEDIA_URL }}{{ form.avatar.value }}" alt="">
									<figcaption></figcaption>
									<input type="file" name="avatar">
								</figure>
								<input type="submit" value="Salvar" class="salvar">
							</div>

							

						</div>
						<!-- END CONTA -->
					</form>
					
					<form action="">
						
						<div id="endereco">
							<div class="five columns" id="margin-endereco-left">
								<label for="cpf-endereco">CPF</label>
								<input type="text" id="cpf-endereco" class="bg-area-clara mg">

								<label for="rua-endereco">Nome da rua</label>
								<input type="text" id="rua-endereco" class="bg-area-clara mg">

								<label for="numero-endereco">Número da casa</label>
								<input type="text" id="numero-endereco" class="bg-area-clara mg">

								<label for="complemento-endereco">Complemento</label>
								<input type="text" id="complemento-endereco" class="bg-area-clara mg">
							</div>

							<div class="five columns" id="margin-endereco-right">
								<label for="cep-endereco">CEP</label>
								<input type="text" id="cep-endereco" class="bg-area-clara mg">

								<label for="bairro-endereco">Bairro</label>
								<input type="text" id="bairro-endereco" class="bg-area-clara mg">

								<label for="cidade-endereco">Cidade</label>
								<input type="text" id="cidade-endereco" class="bg-area-clara mg">

								<label for="estado-endereco">Estado</label>
								<input type="text" id="estado-endereco" class="bg-area-clara mg">

								<a href="#" class="salvar">Salvar</a>
							</div>
						</div>
						<!-- END CONTA -->
					</form>
				</div>
				<!-- END BOX INFO -->
		</div>
		<!-- END DADOS PESSOAIS -->



{% endblock interna %}
