{% extends 'account/user/base_area_cliente.html' %}

{% block interna %}
<div class="dados-pessoais" ng-show="creditos" id="creditos">
	<header class="cor-clara2">
		<h3>Consulte todos os seus créditos</h3>
	</header>
	<p class="cor-clara subtitle-dados six columns">Saldo disponível: <span>R$ {{ request.user.credit }}</span></p>

	<div class="box-info">
		<table collspacing="0" cellspacing="0">
			<thead>
				<tr>
					<th>Data</th>
					<th>Descrição</th>
					<th>Valor</th>
				</tr>
			</thead>
			<tbody>
			{% for operation in operation_list %}
				<tr>
					<td class="date">{{ operation.created_at|date:"d/m/Y" }}</td>
					<td class="descricao">{{ operation.description }}</td>
					<td class="{% if operation.type_operation %} disponivel-cupon {% else %} vencido-cupon {% endif %}">R$ {% if operation.type_operation == False %}-{% endif %}{{ operation.value }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<p id="saldo-creditos">Saldo: {{ request.user.credit }}</p>
	</div>
</div>

{% endblock interna %}