<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p class="center"><a href="{% url 'account:accounts_facebook_new' %}" class="bt-fb">login facebook</a></p>
<form action="" id="form-login" class="signup forms-adm"  method="post">
            <legend>Login</legend>
            {% csrf_token %}
            <div class="box_input">
                {{ form.email }}
                            {% if form.errors %}
            
                    <ul class="errorlist"><li> {{ form.error_messages.invalid_login }}</li></ul>
  
            {% endif %}
                <!-- <ul class="errorlist none"><li>Digite um e-mail válido.</li></ul> -->
            </div>
            <div class="box_input">
                {{ form.password }}
                
                <!-- <ul class="errorlist none"><li>Este campo é obrigatório.</li></ul> -->
            </div>
            <button class="btn" id="bt-login" type="submit"><span>Login</span></button>
            <div id="check" class="right ">
                <label >
                    <input type="checkbox" id="remember_me"> Manter conectado
                </label>
            </div>

            {% for error in form.non_field_errors %}
                <ul class="errorlist alert alert-error fade in"><li>{{ error }}</li></ul>
            {% endfor %}
            <br />
            <br />
            <p class="forgot-pass"><a href="{% url 'account:password_reset' %}">Esqueci minha senha</a></p>

            <p id="cadstrado">Não é cadastrado? <a href="{% url 'account:signup' %}" class="login">&nbsp;&nbsp;Cadastre-se</a></p>
        </form>

</body>
</html>