

        <div id="cadastre-se">
            <form method="post" class="signup esqueci forms-adm" action="">
                <legend>Recuperar senha</legend>
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="form-group {% if field.errors %} has-error {% endif %}">
                    <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                    <div class="controls">
                        {{ field }}
                        <span class="help-block">{{ field.help_text}}</span>
                        {% for error in field.errors %}
                        <div class="alert alert-block alert-danger fade in">{{ error }}<a class="close" data-dismiss="alert" href="#">&times;</a></div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}

            <div id="buttons">
                <button type="submit" class="btn"><span>Recuperar minha senha</span></button>
            </div>
            </form>

        </div>
