<div id="cadastre-se">
    {% if validlink %}
    <form method="post" class="signup esqueci forms-adm" action="">
        <legend>Entrar com uma senha</legend>
        <p>Por favor, entre com a senha duas vezes para verificarmos se você digitou corretamente.</p>
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group {% if field.errors %} has-error {% endif %}" style='margin-bottom: 14px;'>
            <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
            <div class="controls">
                {{ field }}
                <span class="help-block">{{ field.help_text}}</span>
                {% for error in field.errors %}
                <div class="alert alert-block alert-danger fade in">{{ error }}<a class="close" data-dismiss="alert" href="#">&times;</a></div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    <div id="buttons">
        <button type="submit" class="btn"><span>Change my password</span></button>
    </div>
    </form>
    {% else %}
     <div class="signup esqueci forms-adm" action="">
        <legend>Recuperar senha falhou.</legend>
            <p>O link para recuperar senha acessado é inválido, possivelmente ele já deve ter sido utilizado.
                Se ainda precisar de uma nova senha requisite um novo link.</p>
            <p><a href="{% url 'account:home' %}">Voltar para o início.</a></p>
    </div>
    {% endif %}

</div>


